@import url('https://fonts.googleapis.com/css2?family=Damion&family=Oswald&family=Poppins&display=swap');

// Colors
$bg-color: rgb(20, 20, 20);
$font-color: rgb(248, 239, 225);
$blue: rgb(34, 133, 139);
$yellow: rgb(248, 179, 21);
$light-orange: rgb(255, 139, 39);
$dark-orange: rgb(227, 68, 29);
$red: rgb(180, 19, 53);


// Fonts
$logo-font: "Damion", cursive;
$main-font: "Poppins", sans-serif;
$header-font: "Oswald", sans-serif;


// START MLB COLORS
// MLB Conference Colors
$al-red: rgb(213, 0, 50);
$nl-blue: rgb(4, 68, 165);

// MLB Division Colors
$mlb-east: rgb(127, 225, 250);
$mlb-central: rgb(255, 255, 108);
$mlb-west: rgb(5, 197, 9);

// MLB Team Colors
// AL East
$mlb-blue-jays-main: rgb(19, 74, 142);
$mlb-blue-jays-secondary: rgb(232, 41, 28);

$mlb-orioles-main: rgb(39, 37, 31);
$mlb-orioles-secondary: rgb(223, 70, 1);

$mlb-rays-main: rgb(9, 44, 92);
$mlb-rays-secondary: rgb(143, 188, 230);

$mlb-red-sox-main: rgb(12, 35, 64);
$mlb-red-sox-secondary: rgb(189, 48, 57);

$mlb-yankees-main: rgb(12, 35, 64);
$mlb-yankees-secondary: rgb(196, 206, 211);
// AL Central
$mlb-guardians-main: rgb(12, 35, 64);
$mlb-guardians-secondary: rgb(227, 25, 55);

$mlb-royals-main: rgb(0, 70, 135);
$mlb-royals-secondary: rgb(189, 155, 96);

$mlb-tigers-main: rgb(12, 35, 64);
$mlb-tigers-secondary: rgb(250, 70, 22);

$mlb-twins-main: rgb(0, 43, 92);
$mlb-twins-secondary: rgb(211, 17, 69);

$mlb-white-sox-main: rgb(39, 37, 31);
$mlb-white-sox-secondary: rgb(196, 206, 212);
// AL West
$mlb-angels-main: rgb(0, 50, 99);
$mlb-angels-secondary: rgb(186, 0, 33);

$mlb-astros-main: rgb(0, 45, 98);
$mlb-astros-secondary: rgb(235, 110, 31);

$mlb-athletics-main: rgb(0, 56, 49);
$mlb-athletics-secondary: rgb(239, 178, 30);

$mlb-mariners-main: rgb(12, 44, 86);
$mlb-mariners-secondary: rgb(0, 92, 92);

$mlb-rangers-main: rgb(0, 50, 120);
$mlb-rangers-secondary: rgb(192, 17, 31);
// NL East
$mlb-braves-main: rgb(19, 39, 79);
$mlb-braves-secondary: rgb(206, 17, 65);

$mlb-marlins-main: rgb(0, 163, 224);
$mlb-marlins-secondary: rgb(239, 51, 64);

$mlb-mets-main: rgb(0, 45, 114);
$mlb-mets-secondary: rgb(252, 89, 16);

$mlb-nationals-main: rgb(20 ,34, 90);
$mlb-nationals-secondary: rgb(171, 0, 3);

$mlb-phillies-main: rgb(0, 45, 114);
$mlb-phillies-secondary: rgb(232, 24, 40);
// NL Central
$mlb-brewers-main: rgb(18, 40, 75);
$mlb-brewers-secondary: rgb(255, 197, 47);

$mlb-cardinals-main: rgb(12, 35, 64);
$mlb-cardinals-secondary: rgb(196, 30, 58);

$mlb-cubs-main: rgb(14, 51, 134);
$mlb-cubs-secondary: rgb(204, 52, 51);

$mlb-pirates-main: rgb(39, 37, 31);
$mlb-pirates-secondary: rgb(253, 184, 39);

$mlb-reds-main: rgb(0, 0, 0);
$mlb-reds-secondary: rgb(198, 1, 31);
// NL West
$mlb-diamondbacks-main: rgb(0, 0, 0);
$mlb-diamondbacks-secondary: rgb(167, 25, 48);

$mlb-dodgers-main: rgb(0, 90, 156);
$mlb-dodgers-secondary: rgb(191, 192, 191);

$mlb-giants-main: rgb(39, 37, 31);
$mlb-giants-secondary: rgb(253, 90, 30);

$mlb-padres-main: rgb(47, 36, 29);
$mlb-padres-secondary: rgb(255, 196, 37);

$mlb-rockies-main: rgb(51, 0, 111);
$mlb-rockies-secondary: rgb(196, 206, 212);
// END MLB COLORS

// START NBA COLORS

// Conference Colors
$east-primary: rgb(29, 65, 138);
$west-primary: rgb(199, 15, 45);
// Division Colors
$nba-atlantic-southwest: rgb(127, 225, 250);
$nba-central-northwest: rgb(255, 255, 108);
$nba-southeast-pacific: rgb(5, 197, 9);
// EAST Atlantic
$nba-celtics-main: rgb(0, 122, 51);
$nba-celtics-secondary: rgb(255, 255, 255);

$nba-knicks-main: rgb(0 , 107, 182);
$nba-knicks-secondary: rgb(245, 132, 38);

$nba-nets-main: rgb(0, 0, 0);
$nba-nets-secondary: rgb(255, 255, 255);

$nba-sixers-main: rgb(0, 43, 92);
$nba-sixers-secondary: rgb(237, 23, 76);

$nba-raptors-main: rgb(6, 25, 34);
$nba-raptors-secondary: rgb(206, 17, 65);

// EAST Central
$nba-bucks-main: rgb(0, 71, 27);
$nba-bucks-secondary: rgb(240, 235, 210);

$nba-bulls-main: rgb(6, 25, 34);
$nba-bulls-secondary: rgb(206, 17, 65);

$nba-cavaliers-main: rgb(134, 0, 56);
$nba-cavaliers-secondary: rgb(253, 187, 48);

$nba-pacers-main: rgb(0, 45, 98);
$nba-pacers-secondary: rgb(253, 187, 48);

$nba-pistons-main: rgb(29, 66, 138);
$nba-pistons-secondary: rgb(200, 16, 46);
// EAST Southeast
$nba-hawks-main: rgb(38, 40, 42);
$nba-hawks-secondary: rgb(225, 68, 52);

$nba-heat-main: rgb(6, 25, 34);
$nba-heat-secondary: rgb(152, 0, 46);

$nba-hornets-main: rgb(29, 17, 96);
$nba-hornets-secondary: rgb(0, 120, 140);

$nba-magic-main: rgb(0, 125, 197);
$nba-magic-secondary: rgb(196, 206, 211);

$nba-wizards-main: rgb(0, 43, 92);
$nba-wizards-secondary: rgb(227, 24, 55);
// WEST Northwest
$nba-jazz-main: rgb(0, 43, 92);
$nba-jazz-secondary: rgb(249, 160, 27);

$nba-nuggets-main: rgb(13, 34, 64);
$nba-nuggets-secondary: rgb(255, 198, 39);

$nba-thunder-main: rgb(0, 45, 98);
$nba-thunder-secondary: rgb(239, 59, 36);

$nba-timberwolves-main: rgb(12, 35, 64);
$nba-timberwolves-secondary: rgb(35, 97, 146);

$nba-trail-blazers-main: rgb(6, 25, 34);
$nba-trail-blazers-secondary: rgb(224, 58, 62);
// WEST Pacific
$nba-clippers-main: rgb(29, 66, 148);
$nba-clippers-secondary: rgb(200, 16, 46);

$nba-kings-main: rgb(91, 43, 130);
$nba-kings-secondary: rgb(99, 113, 122);

$nba-lakers-main: rgb(85, 37, 130);
$nba-lakers-secondary: rgb(253, 185, 39);

$nba-suns-main: rgb(29, 17, 96);
$nba-suns-secondary: rgb(229, 95, 32);

$nba-warriors-main: rgb(29, 66, 138);
$nba-warriors-secondary: rgb(255, 199, 44);
// WEST Southwest
$nba-grizzlies-main: rgb(18, 23, 63);
$nba-grizzlies-secondary: rgb(93, 118, 169);

$nba-mavericks-main: rgb(0, 83, 188);
$nba-mavericks-secondary: rgb(187, 196, 202);

$nba-pelicans-main: rgb(0, 22, 65);
$nba-pelicans-secondary: rgb(180, 151, 90);

$nba-rockets-main: rgb(6, 25, 34);
$nba-rockets-secondary: rgb(206, 17, 65);

$nba-spurs-main: rgb(6, 25, 34);
$nba-spurs-secondary: rgb(196, 206, 211);
// END NBA COLORS


// START NFL COLORS
//NFL Conference Colors
$afc-red: rgb(213, 10, 10);
$afc-red-shadow: rgb(36, 1, 1);

$nfc-blue: rgb(4, 41, 151);
$nfc-blue-shadow: rgb(1, 10, 34);

// NFL Division Colors
$north: rgb(255, 127, 126);
$north-shadow: rgb(206, 64, 64);
$south: rgb(255, 255, 127);
$south-shadow: rgb(92, 92, 19);
$east: rgb(254, 176, 130);
$east-shadow: rgb(160, 77, 28);
$west: rgb(99, 192, 100);
$west-shadow: rgb(16, 94, 17);

// NFL Team Colors
// AFC North
$nfl-bengals-main: rgb(0, 0, 0);
$nfl-bengals-secondary: rgb(251, 79, 20);

$nfl-browns-main: rgb(49, 29, 0);
$nfl-browns-secondary: rgb(255, 60, 0);

$nfl-ravens-main: rgb(26, 25, 95);
$nfl-ravens-secondary: rgb(158, 124, 12);

$nfl-steelers-main: rgb(16, 24, 32);
$nfl-steelers-secondary: rgb(255, 182, 18);

// AFC South
$nfl-colts-main: rgb(0, 44, 95);
$nfl-colts-secondary: rgb(162, 170, 173);

$nfl-jaguars-main: rgb(16, 24, 32);
$nfl-jaguars-secondary: rgb(0, 103, 120);

$nfl-texans-main: rgb(3, 32, 47);
$nfl-texans-secondary: rgb(167, 25, 48);

$nfl-titans-main: rgb(12, 35, 64);
$nfl-titans-secondary: rgb(75, 146, 219);

// AFC East
$nfl-bills-main: rgb(0, 51, 141);
$nfl-bills-secondary: rgb(198, 12, 48);

$nfl-dolphins-main: rgb(0, 87, 120);
$nfl-dolphins-secondary: rgb(252, 76, 2);


$nfl-jets-main: rgb(18, 87, 64);
$nfl-jets-secondary: rgb(255, 255, 255);

$nfl-patriots-main: rgb(0, 34, 68);
$nfl-patriots-secondary: rgb(198, 12,48);

// AFC West
$nfl-broncos-main: rgb(0, 34, 68);
$nfl-broncos-secondary: rgb(251, 79, 20);

$nfl-chargers-main: rgb(0, 128, 198);
$nfl-chargers-secondary: rgb(255, 194, 14);

$nfl-chiefs-main: rgb(227, 24, 55);
$nfl-chiefs-secondary: rgb(255, 184, 28);

$nfl-raiders-main: rgb(0, 0, 0);
$nfl-raiders-secondary: rgb(165, 172, 175);

// NFC North
$nfl-bears-main: rgb(11, 22, 42);
$nfl-bears-secondary: rgb(200, 56, 3);

$nfl-lions-main: rgb(0, 118, 182);
$nfl-lions-secondary: rgb(176, 183, 188);

$nfl-packers-main: rgb(24, 48, 40);
$nfl-packers-secondary: rgb(255, 184, 28);

$nfl-vikings-main: rgb(79, 38, 131);
$nfl-vikings-secondary: rgb(255, 198, 47);

// NFC South
$nfl-buccaneers-main: rgb(10, 10, 8);
$nfl-buccaneers-secondary: rgb(213, 10, 10);

$nfl-falcons-main: rgb(0, 0, 0);
$nfl-falcons-secondary: rgb(167, 25, 48);

$nfl-panthers-main: rgb(16, 24, 32);
$nfl-panthers-secondary: rgb(0, 133, 202);

$nfl-saints-main: rgb(16, 24, 31);
$nfl-saints-secondary: rgb(211, 188, 141);

// NFC East
$nfl-cowboys-main: rgb(0, 34, 68);
$nfl-cowboys-secondary: rgb(134, 147, 151);

$nfl-eagles-main: rgb(0, 76, 84);
$nfl-eagles-secondary: rgb(165, 172, 175);

$nfl-footballteam-main: rgb(63, 16, 16);
$nfl-footballteam-secondary: rgb(255, 182, 18);

$nfl-giants-main: rgb(1, 35, 82);
$nfl-giants-secondary: rgb(163, 13, 45);

// NFC West
$nfl-niners-main: rgb(170, 0, 0);
$nfl-niners-secondary: rgb(173, 153, 51);

$nfl-cardinals-main: rgb(0, 0, 0);
$nfl-cardinals-secondary: rgb(151, 35, 63);

$nfl-rams-main: rgb(0, 53, 148);
$nfl-rams-secondary: rgb(255, 163, 0);

$nfl-seahawks-main: rgb(0, 34, 68);
$nfl-seahawks-secondary: rgb(105, 190, 40);
// END NFL COLORS

// START NHL COLORS
// Conference Colors
$east-primary: rgb(29, 65, 138);
$west-primary: rgb(199, 15, 45);
// Division Colors
$nhl-atlantic: rgb(77, 186, 218);
$nhl-metropolitan: rgb(239, 215, 44);
$nhl-central: rgb(211, 36, 68);
$nhl-pacific: rgb(220, 138, 30);
// Team Colors
// Atlantic Team Colors
$nhl-bruins-main: rgb(17, 17, 17);
$nhl-bruins-secondary: rgb(252, 181, 20);

$nhl-canadiens-main: rgb(25, 33, 104);
$nhl-canadiens-secondary: rgb(175, 30, 45);

$nhl-lightning-main: rgb(0, 40, 104);
$nhl-lightning-secondary: rgb(255, 255, 255);

$nhl-mapleleafs-main: rgb(0, 32, 91);
$nhl-mapleleafs-secondary: rgb(255, 255, 255);

$nhl-panthers-main: rgb(4, 30, 66);
$nhl-panthers-secondary: rgb(200, 16, 46);

$nhl-redwings-main: rgb(206, 17, 38);
$nhl-redwings-secondary: rgb(255, 255, 255);

$nhl-sabres-main: rgb(0, 38, 84);
$nhl-sabres-secondary: rgb(252, 181, 20);

$nhl-senators-main: rgb(197, 32, 50);
$nhl-senators-secondary: rgb(194, 145, 44);

// Metropolitan Team Colors
$nhl-bluejackets-main: rgb(0, 38, 84);
$nhl-bluejackets-secondary: rgb(206, 17, 38);

$nhl-capitals-main: rgb(4, 30, 66);
$nhl-capitals-secondary: rgb(200, 16, 46);

$nhl-devils-main: rgb(0, 0, 0);
$nhl-devils-secondary: rgb(206, 17, 38);

$nhl-flyers-main: rgb(0, 0, 0);
$nhl-flyers-secondary: rgb(247, 73, 2);

$nhl-hurricanes-main: rgb(35, 31, 32);
$nhl-hurricanes-secondary: rgb(226, 24, 54);

$nhl-islanders-main: rgb(0, 83, 155);
$nhl-islanders-secondary: rgb(244, 125, 48);

$nhl-penguins-main: rgb(0, 0, 0);
$nhl-penguins-secondary: rgb(252, 181, 20);

$nhl-rangers-main: rgb(0, 56, 168);
$nhl-rangers-secondary: rgb(206, 17, 38);

// Central Team Colors
$nhl-avalanche-main: rgb(111, 38, 61);
$nhl-avalanche-secondary: rgb(35, 97, 146);

$nhl-blackhawks-main: rgb(0, 0, 0);
$nhl-blackhawks-secondary: rgb(207, 10, 44);

$nhl-blues-main: rgb(0, 47, 135);
$nhl-blues-secondary: rgb(252, 181, 20);

$nhl-coyotes-main: rgb(140, 38, 51);
$nhl-coyotes-secondary: rgb(226, 214, 181);

$nhl-jets-main: rgb(4, 30, 66);
$nhl-jets-secondary: rgb(172, 22, 44);

$nhl-predators-main: rgb(4, 30, 66);
$nhl-predators-secondary: rgb(255, 184, 28);

$nhl-stars-main: rgb(0, 104, 71);
$nhl-stars-secondary: rgb(143, 143, 140);

$nhl-wild-main: rgb(2, 73, 48);
$nhl-wild-secondary: rgb(175, 35, 36);

// Padicif Team Colors
$nhl-canucks-main: rgb(0, 32, 91);
$nhl-canucks-secondary: rgb(10, 134, 61);

$nhl-ducks-main: rgb(0, 0, 0);
$nhl-ducks-secondary: rgb(185, 151, 91);

$nhl-flames-main: rgb(200, 16, 46);
$nhl-flames-secondary: rgb(241, 190, 72);

$nhl-goldenknights-main: rgb(35, 31, 32);
$nhl-goldenknights-secondary: rgb(185, 151, 91);

$nhl-kings-main: rgb(17, 17, 17);
$nhl-kings-secondary: rgb(162, 170, 173);

$nhl-kraken-main: rgb(0, 22, 40);
$nhl-kraken-secondary: rgb(153, 217, 217);

$nhl-oilers-main: rgb(4, 30, 66);
$nhl-oilers-secondary: rgb(252, 76, 0);

$nhl-sharks-main: rgb(0, 0, 0);
$nhl-sharks-secondary: rgb(0, 109, 117);
// END NHL COLORS