@import url('https://fonts.googleapis.com/css2?family=Damion&family=Oswald&family=Poppins&display=swap');

// Colors
$bg-color: rgb(20, 20, 20);
$font-color: rgb(248, 239, 225);
$blue: rgb(34, 133, 139);
$yellow: rgb(248, 179, 21);
$light-orange: rgb(255, 139, 39);
$dark-orange: rgb(227, 68, 29);
$red: rgb(180, 19, 53);


// Fonts
$logo-font: "Damion", cursive;
$main-font: "Poppins", sans-serif;
$header-font: "Oswald", sans-serif;


// START MLB COLORS
// MLB Conference Colors
$al-red: rgb(213, 0, 50);
$nl-blue: rgb(0, 45, 114);

// MLB Division Colors
$mlb-east: rgb(254, 176, 130);
$mlb-central: rgb(255, 255, 127);
$mlb-west: rgb(99, 192, 100);

// MLB Team Colors
// AL East
$blue-jays-main: rgb(19, 74, 142);
$blue-jays-secondary: rgb(232, 41, 28);

$orioles-main: rgb(39, 37, 31);
$orioles-secondary: rgb(223, 70, 1);

$rays-main: rgb(9, 44, 92);
$rays-secondary: rgb(143, 188, 230);

$red-sox-main: rgb(12, 35, 64);
$red-sox-secondary: rgb(189, 48, 57);

$yankees-main: rgb(12, 35, 64);
$yankees-secondary: rgb(196, 206, 211);
// AL Central
$guardians-main: rgb(12, 35, 64);
$guardians-secondary: rgb(227, 25, 55);

$royals-main: rgb(0, 70, 135);
$royals-secondary: rgb(189, 155, 96);

$tigers-main: rgb(12, 35, 64);
$tigers-secondary: rgb(250, 70, 22);

$twins-main: rgb(0, 43, 92);
$twins-secondary: rgb(211, 17, 69);

$white-sox-main: rgb(39, 37, 31);
$white-sox-secondary: rgb(196, 206, 212);
// AL West
$angels-main: rgb(0, 50, 99);
$angels-secondary: rgb(186, 0, 33);

$astros-main: rgb(0, 45, 98);
$astros-secondary: rgb(235, 110, 31);

$athletics-main: rgb(0, 56, 49);
$athletics-secondary: rgb(239, 178, 30);

$mariners-main: rgb(12, 44, 86);
$mariners-secondary: rgb(0, 92, 92);

$rangers-main: rgb(0, 50, 120);
$rangers-secondary: rgb(192, 17, 31);
// NL East
$braves-main: rgb(19, 39, 79);
$braves-secondary: rgb(206, 17, 65);

$marlins-main: rgb(0, 0, 0);
$marlins-secondary: rgb(0, 163, 224);

$mets-main: rgb(0, 45, 114);
$mets-secondary: rgb(252, 89, 16);

$nationals-main: rgb(20 ,34, 90);
$nationals-secondary: rgb(171, 0, 3);

$phillies-main: rgb(0, 45, 114);
$phillies-secondary: rgb(232, 24, 40);
// NL Central
$brewers-main: rgb(18, 40, 75);
$brewers-secondary: rgb(255, 197, 47);

$mlb-cardinals-main: rgb(12, 35, 64);
$mlb-cardinals-secondary: rgb(196, 30, 58);

$cubs-main: rgb(14, 51, 134);
$cubs-secondary: rgb(204, 52, 51);

$pirates-main: rgb(39, 37, 31);
$pirates-secondary: rgb(253, 184, 39);

$reds-main: rgb(0, 0, 0);
$reds-secondary: rgb(198, 1, 31);
// NL West
$diamondbacks-main: rgb(0, 0, 0);
$diamondbacks-secondary: rgb(167, 25, 48);

$dodgers-main: rgb(0, 90, 156);
$dodgers-secondary: rgb(239, 62, 66);

$mlb-giants-main: rgb(39, 37, 31);
$mlb-giants-secondary: rgb(253, 90, 30);

$padres-main: rgb(47, 36, 29);
$padres-secondary: rgb(255, 196, 37);

$rockies-main: rgb(51, 0, 111);
$rockies-secondary: rgb(196, 206, 212);
// END MLB COLORS


// START NFL COLORS
//NFL Conference Colors
$afc-red: rgb(213, 10, 10);
$afc-red-shadow: rgb(36, 1, 1);

$nfc-blue: rgb(4, 41, 151);
$nfc-blue-shadow: rgb(1, 10, 34);

// NFL Division Colors
$nfl-north: rgb(255, 127, 126);
$nfl-north-shadow: rgb(206, 64, 64);
$nfl-south: rgb(255, 255, 127);
$nfl-south-shadow: rgb(92, 92, 19);
$nfl-east: rgb(254, 176, 130);
$nfl-east-shadow: rgb(160, 77, 28);
$nfl-west: rgb(99, 192, 100);
$nfl-west-shadow: rgb(16, 94, 17);

// NFL Team Colors
// AFC North
$bengals-main: rgb(251, 79, 20);
$bengals-secondary: rgb(0, 0, 0);

$browns-main: rgb(255, 60, 0);
$browns-secondary: rgb(49, 29, 0);

$ravens-main: rgb(158, 124, 12);
$ravens-secondary: rgb(26, 25, 95);

$steelers-main: rgb(255, 182, 18);
$steelers-secondary: rgb(16, 24, 32);

// AFC South
$colts-main: rgb(0, 44, 95);
$colts-secondary: rgb(162, 170, 173);

$jaguars-main: rgb(0, 103, 120);
$jaguars-secondary: rgb(16, 24, 32);

$texans-main: rgb(167, 25, 48);
$texans-secondary: rgb(3, 32, 47);

$titans-main: rgb(75, 146, 219);
$titans-secondary: rgb(12, 35, 64);

// AFC East
$bills-main: rgb(0, 51, 141);
$bills-secondary: rgb(198, 12, 48);

$dolphins-main: rgb(0, 87, 120);
$dolphins-secondary: rgb(252, 76, 2);

$jets-main: rgb(18, 87, 64);
$jets-secondary: rgb(255, 255, 255);

$patriots-main: rgb(0, 34, 68);
$patriots-secondary: rgb(198, 12,48);

// AFC West
$broncos-main: rgb(251, 79, 20);
$broncos-secondary: rgb(0, 34, 68);

$chargers-main: rgb(0, 128, 198);
$chargers-secondary: rgb(255, 194, 14);

$chiefs-main: rgb(227, 24, 55);
$chiefs-secondary: rgb(255, 184, 28);

$raiders-main: rgb(165, 172, 175);
$raiders-secondary: rgb(0, 0, 0);

// NFC North
$bears-main: rgb(200, 56, 3);
$bears-secondary: rgb(11, 22, 42);

$lions-main: rgb(0, 118, 182);
$lions-secondary: rgb(176, 183, 188);

$packers-main: rgb(24, 48, 40);
$packers-secondary: rgb(255, 184, 28);

$vikings-main: rgb(79, 38, 131);
$vikings-secondary: rgb(255, 198, 47);

// NFC South
$buccaneers-main: rgb(213, 10, 10);
$buccaneers-secondary: rgb(10, 10, 8);

$falcons-main: rgb(167, 25, 48);
$falcons-secondary: rgb(0, 0, 0);

$panthers-main: rgb(0, 133, 202);
$panthers-secondary: rgb(16, 24, 32);

$saints-main: rgb(211, 188, 141);
$saints-secondary: rgb(16, 24, 31);

// NFC East
$cowboys-main: rgb(0, 53, 148);
$cowboys-secondary: rgb(0, 0, 0);

$eagles-main: rgb(0, 76, 84);
$eagles-secondary: rgb(165, 172, 175);

$footballteam-main: rgb(63, 16, 16);
$footballteam-secondary: rgb(255, 182, 18);

$giants-main: rgb(1, 35, 82);
$giants-secondary: rgb(163, 13, 45);

// NFC West
$niners-main: rgb(170, 0, 0);
$niners-secondary: rgb(173, 153, 51);

$cardinals-main: rgb(151, 35, 63);
$cardinals-secondary: rgb(0, 0, 0);

$rams-main: rgb(0, 53, 148);
$rams-secondary: rgb(255, 163, 0);

$seahawks-main: rgb(0, 34, 68);
$seahawks-secondary: rgb(105, 190, 40);
// END NFL COLORS