@import "../../utilities/variables.scss";

.nbaPosts {
    background: $bg-color;
    min-height: 100vh;
    padding: 2rem 0;
    span {
        cursor: pointer;
    }
    .nbaPosts__header {
        padding: 1rem 4rem;
        .nbaPosts__sortBy {
            display: flex;
            color: $font-color;
            align-items: center;
            .sortBy__header {
                // margin-right: 1rem;
                h6 {
                    font-family: $main-font;
                    font-size: 1.8rem;
                    letter-spacing: 0.1rem;
                }
            }
            .sortBy__options {
                display: flex;
                align-items: center;
                span {
                    font-family: $header-font;
                    font-size: 1.5rem;
                    margin: 0 1rem;
                    transition: all 0.3s ease-in-out;
                    &.newest {
                        color: $light-orange;
                        transform: scale(1.05);                       
                    }
                    &.oldest {
                        color: $light-orange;
                        transform: scale(1.05);
                    }
                }
                div {
                    border: 2px solid $blue;
                    border-radius: 1rem;
                    padding: 1rem 0;
                }
            }
        }
        .nbaPosts__filterBy {
            display: flex;
            color: $font-color;
            align-items: center;
            .filterBy__header {
                margin-right: 1rem;
                h6 {
                    font-family: $main-font;
                    font-size: 1.8rem;
                    letter-spacing: 0.1rem;
                }
            }
            .filterBy__options {
                display: flex;
                align-items: center;
                font-family: $header-font;
                font-size: 1.5rem;
                .filterBy__optionsDivider {
                    border: 2px solid $blue;
                    margin: 0 0.7rem;
                    border-radius: 1rem;
                    opacity: 0.8;
                }
                .filterBy__optionsDot {
                   background: $blue;
                    border-radius: 50%;
                    padding: 0.3rem;
                    align-self: center;
                    margin: 0 0.7rem;
                    opacity: 0.6;
    
                }
                .filterBy__nba {
                    display: flex;
                    .nba {
                        color: $dark-orange;
                    }
                }
                .filterBy__nbaConference {
                    display: flex;
                    span {
                        transition: all 0.3s ease-in-out;
                        &.east {
                            color: $east-primary;
                        }
                        &.west {
                            color: $west-primary;
                        }
                    }
                    
                }
                .filterBy__nbaDivision {
                    display: flex;
                    span {
                        transition: all 0.3s ease-in-out;
                        &.atlantic, &.southwest {
                            color: $nba-atlantic-southwest;
                        }
                        &.central, &.northwest {
                            color: $nba-central-northwest;
                        }
                        &.southeast, &.pacific {
                            color: $nba-southeast-pacific;
                        }
                    }
                }
                .filterBy__nbaTeam {
                    display: flex;
                        span {
                            transition: all 0.3s ease-in-out;
                            // East Atlantic
                            &.nba-celtics {
                                color: $nba-celtics-main;
                                -webkit-text-stroke: 1px $nba-celtics-secondary;
                                text-shadow: 1px 1px 0px $nba-celtics-secondary;
                            }
                            &.nba-knicks {
                                color: $nba-knicks-main;
                                -webkit-text-stroke: 1px $nba-knicks-secondary;
                                text-shadow: 1px 1px 0px $nba-knicks-secondary;
                            }
                            &.nba-nets {
                                color: $nba-nets-main;
                                -webkit-text-stroke: 1px $nba-nets-secondary;
                                text-shadow: 1px 1px 0px $nba-nets-secondary;
                            }
                            &.nba-sixers {
                                color: $nba-sixers-main;
                                -webkit-text-stroke: 1px $nba-sixers-secondary;
                                text-shadow: 1px 1px 0px $nba-sixers-secondary;
                            }
                            &.nba-raptors {
                                color: $nba-raptors-main;
                                -webkit-text-stroke: 1px $nba-raptors-secondary;
                                text-shadow: 1px 1px 0px $nba-raptors-secondary;
                            }
                            // East Central
                            &.nba-bucks {
                                color: $nba-bucks-main;
                                -webkit-text-stroke: 1px $nba-bucks-secondary;
                                text-shadow: 1px 1px 0px $nba-bucks-secondary;
                            }
                            &.nba-bulls {
                                color: $nba-bulls-main;
                                -webkit-text-stroke: 1px $nba-bulls-secondary;
                                text-shadow: 1px 1px 0px $nba-bulls-secondary;
                            }
                            &.nba-cavaliers {
                                color: $nba-cavaliers-main;
                                -webkit-text-stroke: 1px $nba-cavaliers-secondary;
                                text-shadow: 1px 1px 0px $nba-cavaliers-secondary;
                            }
                            &.nba-pacers {
                                color: $nba-pacers-main;
                                -webkit-text-stroke: 1px $nba-pacers-secondary;
                                text-shadow: 1px 1px 0px $nba-pacers-secondary;
                            }
                            &.nba-pistons {
                                color: $nba-pistons-main;
                                -webkit-text-stroke: 1px $nba-pistons-secondary;
                                text-shadow: 1px 1px 0px $nba-pistons-secondary;
                            }
                            // East Southeast
                            &.nba-hawks {
                                color: $nba-hawks-main;
                                -webkit-text-stroke: 1px $nba-hawks-secondary;
                                text-shadow: 1px 1px 0px $nba-hawks-secondary;
                            }
                            &.nba-heat {
                                color: $nba-heat-main;
                                -webkit-text-stroke: 1px $nba-heat-secondary;
                                text-shadow: 1px 1px 0px $nba-heat-secondary;
                            }
                            &.nba-hornets {
                                color: $nba-hornets-main;
                                -webkit-text-stroke: 1px $nba-hornets-secondary;
                                text-shadow: 1px 1px 0px $nba-hornets-secondary;
                            }
                            &.nba-magic {
                                color: $nba-magic-main;
                                -webkit-text-stroke: 1px $nba-magic-secondary;
                                text-shadow: 1px 1px 0px $nba-magic-secondary;
                            }
                            &.nba-wizards {
                                color: $nba-wizards-main;
                                -webkit-text-stroke: 1px $nba-wizards-secondary;
                                text-shadow: 1px 1px 0px $nba-wizards-secondary;
                            }
                            // WEST Northwest
                            &.nba-jazz {
                                color: $nba-jazz-main;
                                -webkit-text-stroke: 1px $nba-jazz-secondary;
                                text-shadow: 1px 1px 0px $nba-jazz-secondary;
                            }
                            &.nba-nuggets {
                                color: $nba-nuggets-main;
                                -webkit-text-stroke: 1px $nba-nuggets-secondary;
                                text-shadow: 1px 1px 0px $nba-nuggets-secondary;
                            }
                            &.nba-thunder {
                                color: $nba-thunder-main;
                                -webkit-text-stroke: 1px $nba-thunder-secondary;
                                text-shadow: 1px 1px 0px $nba-thunder-secondary;
                            }
                            &.nba-timberwolves {
                                color: $nba-timberwolves-main;
                                -webkit-text-stroke: 1px $nba-timberwolves-secondary;
                                text-shadow: 1px 1px 0px $nba-timberwolves-secondary;
                            }
                            &.nba-trailblazers {
                                color: $nba-trail-blazers-main;
                                -webkit-text-stroke: 1px $nba-trail-blazers-secondary;
                                text-shadow: 1px 1px 0px $nba-trail-blazers-secondary;
                            }
                            // West Pacific
                            &.nba-clippers {
                                color: $nba-clippers-main;
                                -webkit-text-stroke: 1px $nba-clippers-secondary;
                                text-shadow: 1px 1px 0px $nba-clippers-secondary;
                            }
                            &.nba-kings {
                                color: $nba-kings-main;
                                -webkit-text-stroke: 1px $nba-kings-secondary;
                                text-shadow: 1px 1px 0px $nba-kings-secondary;
                            }
                            &.nba-lakers {
                                color: $nba-lakers-main;
                                -webkit-text-stroke: 1px $nba-lakers-secondary;
                                text-shadow: 1px 1px 0px $nba-lakers-secondary;
                            }
                            &.nba-suns {
                                color: $nba-suns-main;
                                -webkit-text-stroke: 1px $nba-suns-secondary;
                                text-shadow: 1px 1px 0px $nba-suns-secondary;
                            }
                            &.nba-warriors {
                                color: $nba-warriors-main;
                                -webkit-text-stroke: 1px $nba-warriors-secondary;
                                text-shadow: 1px 1px 0px $nba-warriors-secondary;
                            }
                            // West Southwest
                            &.nba-grizzlies {
                                color: $nba-grizzlies-main;
                                -webkit-text-stroke: 1px $nba-grizzlies-secondary;
                                text-shadow: 1px 1px 0px $nba-grizzlies-secondary;
                            }
                            &.nba-mavericks {
                                color: $nba-mavericks-main;
                                -webkit-text-stroke: 1px $nba-mavericks-secondary;
                                text-shadow: 1px 1px 0px $nba-mavericks-secondary;
                            }
                            &.nba-pelicans {
                                color: $nba-pelicans-main;
                                -webkit-text-stroke: 1px $nba-pelicans-secondary;
                                text-shadow: 1px 1px 0px $nba-pelicans-secondary;
                            }
                            &.nba-rockets {
                                color: $nba-rockets-main;
                                -webkit-text-stroke: 1px $nba-rockets-secondary;
                                text-shadow: 1px 1px 0px $nba-rockets-secondary;
                            }
                            &.nba-spurs {
                                color: $nba-spurs-main;
                                -webkit-text-stroke: 1px $nba-spurs-secondary;
                                text-shadow: 1px 1px 0px $nba-spurs-secondary;
                            }
                          }
                          
                }
            }
        }
    }
    .nbaPosts__main {
        display: flex;
        padding: 0 10rem;
        .nbaPosts__pageLinks {
            display: flex;
            flex-direction: column;
            padding-top: 7rem;
            .link {
                color: $font-color;
                opacity: 0.5;
                font-size: 3rem;
                margin-bottom: 3rem;
                transition: all 0.3s ease-in-out;
                &.active {
                    opacity: 0.6;
                    transform: scale(1.05);
                    text-shadow: 0 0 15px $bg-color, 0 0 20px $font-color
                }
                &:hover {
                    opacity: 0.6;
                    transform: scale(1.05);
                    text-shadow: 0 0 15px $bg-color, 0 0 10px $font-color;
                }
            }
        }
        .nbaPosts__list {
            // border: 2px solid yellow;
            display: flex;
            flex-direction: column;
            width: 100%;
            // margin-left: 3rem;
            margin: 0 5rem;
            &.newest {
                flex-direction: column-reverse;
            }
            &.oldest {
                flex-direction: column;
            }
        }
    }
}