@import "../../utilities/variables.scss";

.postCard {
    padding: 1rem;
    // width: 70%;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    //    MLB POST CARD COLORS START
    // AL East
    &.mlb-bluejays {
        border: 2px solid $mlb-blue-jays-secondary;
        background: $mlb-blue-jays-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-blue-jays-secondary;
        }
    }
    &.mlb-orioles {
        border: 2px solid $mlb-orioles-secondary;
        background: $mlb-orioles-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-orioles-secondary;
        }
    }
    &.mlb-rays {
        border: 2px solid $mlb-rays-secondary;
        background: $mlb-rays-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-rays-secondary;
        }
    }
    &.mlb-redsox {
        border: 2px solid $mlb-red-sox-secondary;
        background: $mlb-red-sox-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-red-sox-secondary;
        }
    }
    &.mlb-yankees {
        border: 2px solid $mlb-yankees-secondary;
        background: $mlb-yankees-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-yankees-secondary;
        }
    }

    // AL Central
    &.mlb-guardians {
        border: 2px solid $mlb-guardians-secondary;
        background: $mlb-guardians-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-guardians-secondary;
        }
    }
    &.mlb-royals {
        border: 2px solid $mlb-royals-secondary;
        background: $mlb-royals-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-royals-secondary;
        }
    }
    &.mlb-tigers {
        border: 2px solid $mlb-tigers-secondary;
        background: $mlb-tigers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-tigers-secondary;
        }
    }
    &.mlb-twins {
        border: 2px solid $mlb-twins-secondary;
        background: $mlb-twins-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-twins-secondary;
        }
    }
    &.mlb-whitesox {
        border: 2px solid $mlb-white-sox-secondary;
        background: $mlb-white-sox-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-white-sox-secondary;
        }
    }
    // AL West
    &.mlb-angels {
        border: 2px solid $mlb-angels-secondary;
        background: $mlb-angels-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-angels-secondary;
        }
    }
    &.mlb-astros {
        border: 2px solid $mlb-astros-secondary;
        background: $mlb-astros-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-astros-secondary;
        }
    }
    &.mlb-athletics {
        border: 2px solid $mlb-athletics-secondary;
        background: $mlb-athletics-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-athletics-secondary;
        }
    }
    &.mlb-mariners {
        border: 2px solid $mlb-mariners-secondary;
        background: $mlb-mariners-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-mariners-secondary;
        }
    }
    &.mlb-rangers {
        border: 2px solid $mlb-rangers-secondary;
        background: $mlb-rangers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-rangers-secondary;
        }
    }

    // NL East
    &.mlb-braves {
        border: 2px solid $mlb-braves-secondary;
        background: $mlb-braves-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-braves-secondary;
        }
    }
    &.mlb-marlins {
        border: 2px solid $mlb-marlins-secondary;
        background: $mlb-marlins-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-marlins-secondary;
        }
    }
    &.mlb-mets {
        border: 2px solid $mlb-mets-secondary;
        background: $mlb-mets-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-mets-secondary;
        }
    }
    &.mlb-nationals {
        border: 2px solid $mlb-nationals-secondary;
        background: $mlb-nationals-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-nationals-secondary;
        }
    }
    &.mlb-phillies {
        border: 2px solid $mlb-phillies-secondary;
        background: $mlb-phillies-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-phillies-secondary;
        }
    }
    // NL Central
    &.mlb-brewers {
        border: 2px solid $mlb-brewers-secondary;
        background: $mlb-brewers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-brewers-secondary;
        }
    }
    &.mlb-cardinals {
        border: 2px solid $mlb-cardinals-secondary;
        background: $mlb-cardinals-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-cardinals-secondary;
        }
    }
    &.mlb-cubs {
        border: 2px solid $mlb-cubs-secondary;
        background: $mlb-cubs-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-cubs-secondary;
        }
    }
    &.mlb-pirates {
        border: 2px solid $mlb-pirates-secondary;
        background: $mlb-pirates-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-pirates-secondary;
        }
    }
    &.mlb-reds {
        border: 2px solid $mlb-reds-secondary;
        background: $mlb-reds-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-reds-secondary;
        }
    }
    // NL West

    &.mlb-diamondbacks {
        border: 2px solid $mlb-diamondbacks-secondary;
        background: $mlb-diamondbacks-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-diamondbacks-secondary;
        }
    }
    &.mlb-dodgers {
        border: 2px solid $mlb-dodgers-secondary;
        background: $mlb-dodgers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-dodgers-secondary;
        }
    }
    &.mlb-giants {
        border: 2px solid $mlb-giants-secondary;
        background: $mlb-giants-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-giants-secondary;
        }
    }
    &.mlb-padres {
        border: 2px solid $mlb-padres-secondary;
        background: $mlb-padres-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-padres-secondary;
        }
    }
    &.mlb-rockies {
        border: 2px solid $mlb-rockies-secondary;
        background: $mlb-rockies-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $mlb-rockies-secondary;
        }
    }
    // MLB POST CARD COLORS END
    // NBA POST CARD COLORS START
    // East Atlantic
    &.nba-celtics {
        border: 2px solid $nba-celtics-secondary;
        background: $nba-celtics-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-celtics-secondary;
        }
    }
    &.nba-knicks {
        border: 2px solid $nba-knicks-secondary;
        background: $nba-knicks-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-knicks-secondary;
        }
    }
    &.nba-nets {
        border: 2px solid $nba-nets-secondary;
        background: $nba-nets-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-nets-secondary;
        }
    }
    &.nba-sixers {
        border: 2px solid $nba-sixers-secondary;
        background: $nba-sixers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-sixers-secondary;
        }
    }
    &.nba-raptors {
        border: 2px solid $nba-raptors-secondary;
        background: $nba-raptors-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-raptors-secondary;
        }
    }

    // East Central
    &.nba-bucks {
        border: 2px solid $nba-bucks-secondary;
        background: $nba-bucks-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-bucks-secondary;
        }
    }
    &.nba-bulls {
        border: 2px solid $nba-bulls-secondary;
        background: $nba-bulls-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-bulls-secondary;
        }
    }
    &.nba-cavaliers {
        border: 2px solid $nba-cavaliers-secondary;
        background: $nba-cavaliers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-cavaliers-secondary;
        }
    }
    &.nba-pacers {
        border: 2px solid $nba-pacers-secondary;
        background: $nba-pacers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-pacers-secondary;
        }
    }
    &.nba-pistons {
        border: 2px solid $nba-pistons-secondary;
        background: $nba-pistons-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-pistons-secondary;
        }
    }
    // East Southeast
    &.nba-hawks {
        border: 2px solid $nba-hawks-secondary;
        background: $nba-hawks-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-hawks-secondary;
        }
    }
    &.nba-heat {
        border: 2px solid $nba-heat-secondary;
        background: $nba-heat-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-heat-secondary;
        }
    }
    &.nba-hornets {
        border: 2px solid $nba-hornets-secondary;
        background: $nba-hornets-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-hornets-secondary;
        }
    }
    &.nba-magic {
        border: 2px solid $nba-magic-secondary;
        background: $nba-magic-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-magic-secondary;
        }
    }
    &.nba-wizards {
        border: 2px solid $nba-wizards-secondary;
        background: $nba-wizards-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-wizards-secondary;
        }
    }

    // West Northwest
    &.nba-jazz {
        border: 2px solid $nba-jazz-secondary;
        background: $nba-jazz-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-jazz-secondary;
        }
    }
    &.nba-nuggets {
        border: 2px solid $nba-nuggets-secondary;
        background: $nba-nuggets-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-nuggets-secondary;
        }
    }
    &.nba-thunder {
        border: 2px solid $nba-thunder-secondary;
        background: $nba-thunder-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-thunder-secondary;
        }
    }
    &.nba-timberwolves {
        border: 2px solid $nba-timberwolves-secondary;
        background: $nba-timberwolves-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-timberwolves-secondary;
        }
    }
    &.nba-trailblazers {
        border: 2px solid $nba-trail-blazers-secondary;
        background: $nba-trail-blazers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-trail-blazers-secondary;
        }
    }
    // West Pacific
    &.nba-clippers {
        border: 2px solid $nba-clippers-secondary;
        background: $nba-clippers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-clippers-secondary;
        }
    }
    &.nba-kings {
        border: 2px solid $nba-kings-secondary;
        background: $nba-kings-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-kings-secondary;
        }
    }
    &.nba-lakers {
        border: 2px solid $nba-lakers-secondary;
        background: $nba-lakers-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-lakers-secondary;
        }
    }
    &.nba-suns {
        border: 2px solid $nba-suns-secondary;
        background: $nba-suns-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-suns-secondary;
        }
    }
    &.nba-warriors {
        border: 2px solid $nba-warriors-secondary;
        background: $nba-warriors-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-warriors-secondary;
        }
    }
    // West Southwest

    &.nba-grizzlies {
        border: 2px solid $nba-grizzlies-secondary;
        background: $nba-grizzlies-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-grizzlies-secondary;
        }
    }
    &.nba-mavericks {
        border: 2px solid $nba-mavericks-secondary;
        background: $nba-mavericks-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-mavericks-secondary;
        }
    }
    &.nba-pelicans {
        border: 2px solid $nba-pelicans-secondary;
        background: $nba-pelicans-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-pelicans-secondary;
        }
    }
    &.nba-rockets {
        border: 2px solid $nba-rockets-secondary;
        background: $nba-rockets-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-rockets-secondary;
        }
    }
    &.nba-spurs {
        border: 2px solid $nba-spurs-secondary;
        background: $nba-spurs-main;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 12px $nba-spurs-secondary;
        }
    }
    // NBA POST CARD COLORS END
    // NFL POST CARD COLORS START
    &.nfl-bengals {
        background: $nfl-bengals-main;
        border: 2px solid $nfl-bengals-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-bengals-secondary;
        }
    }
    &.nfl-browns {
        background: $nfl-browns-main;
        border: 2px solid $nfl-browns-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-browns-secondary;
        }
    }
    &.nfl-ravens {
        background: $nfl-ravens-main;
        border: 2px solid $nfl-ravens-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-ravens-secondary;
        }
    }
    &.nfl-steelers {
        background: $nfl-steelers-main;
        border: 2px solid $nfl-steelers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-steelers-secondary;
        }
    }
    &.nfl-colts {
        background: $nfl-colts-main;
        border: 2px solid $nfl-colts-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-colts-secondary
        }
    }
    &.nfl-jaguars {
        background: $nfl-jaguars-main;
        border: 2px solid $nfl-jaguars-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-jaguars-secondary;
        }
    }
    &.nfl-texans {
        background: $nfl-texans-main;
        border: 2px solid $nfl-texans-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-texans-secondary;
        }
    }
    &.nfl-titans {
        background: $nfl-titans-main;
        border: 2px solid $nfl-titans-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-titans-secondary;
        }
    }
    &.nfl-bills {
        background: $nfl-bills-main;
        border: 2px solid $nfl-bills-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-bills-secondary;
        }
    }
    &.nfl-dolphins {
        background: $nfl-dolphins-main;
        border: 2px solid $nfl-dolphins-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-dolphins-secondary;
        }
    }
    &.nfl-jets {
        background: $nfl-jets-main;
        border: 2px solid $nfl-jets-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-jets-secondary;
        }
    }
    &.nfl-patriots {
        background: $nfl-patriots-main;
        border: 2px solid $nfl-patriots-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-patriots-secondary;
        }
    }
    &.nfl-broncos {
        background: $nfl-broncos-main;
        border: 2px solid $nfl-broncos-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-broncos-secondary;
        }
    }
    &.nfl-chargers {
        background: $nfl-chargers-main;
        border: 2px solid $nfl-chargers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-chargers-secondary;
        }
    }
    &.nfl-chiefs {
        background: $nfl-chiefs-main;
        border: 2px solid $nfl-chiefs-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-chiefs-secondary;
        }
    }
    &.nfl-raiders {
        background: $nfl-raiders-main;
        border: 2px solid $nfl-raiders-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-raiders-secondary;
        }
    }
    &.nfl-bears {
        background: $nfl-bears-main;
        border: 2px solid $nfl-bears-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-bears-secondary;
        }
    }
    &.nfl-lions {
        background: $nfl-lions-main;
        border: 2px solid $nfl-lions-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-lions-secondary;
        }
    }
    &.nfl-packers {
        background: $nfl-packers-main;
        border: 2px solid $nfl-packers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-packers-secondary;
        }
    }
    &.nfl-vikings {
        background: $nfl-vikings-main;
        border: 2px solid $nfl-vikings-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-vikings-secondary;
        }
    }
    &.nfl-buccaneers {
        background: $nfl-buccaneers-main;
        border: 2px solid $nfl-buccaneers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-buccaneers-secondary;
        }
    }
    &.nfl-falcons {
        background: $nfl-falcons-main;
        border: 2px solid $nfl-falcons-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-falcons-secondary;
        }
    }
    &.nfl-panthers {
        background: $nfl-panthers-main;
        border: 2px solid $nfl-panthers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-panthers-secondary;
        }
    }
    &.nfl-saints {
        background: $nfl-saints-main;
        border: 2px solid $nfl-saints-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-saints-secondary;
        }
    }
    &.nfl-cowboys {
        background: $nfl-cowboys-main;
        border: 2px solid $nfl-cowboys-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-cowboys-secondary;
        }
    }
    &.nfl-eagles {
        background: $nfl-eagles-main;
        border: 2px solid $nfl-eagles-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-eagles-secondary;
        }
    }
    &.nfl-footballteam {
        background: $nfl-footballteam-main;
        border: 2px solid $nfl-footballteam-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-footballteam-secondary;
        }
    }
    &.nfl-giants {
        background: $nfl-giants-main;
        border: 2px solid $nfl-giants-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-giants-secondary;
        }
    }
    &.nfl-niners {
        background: $nfl-niners-main;
        border: 2px solid $nfl-niners-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-niners-secondary;
        }
    }
    &.nfl-cardinals {
        background: $nfl-cardinals-main;
        border: 2px solid $nfl-cardinals-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-cardinals-secondary;
        }
    }
    &.nfl-rams {
        background: $nfl-rams-main;
        border: 2px solid $nfl-rams-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-rams-secondary;
        }
    }
    &.nfl-seahawks {
        background: $nfl-seahawks-main;
        border: 2px solid $nfl-seahawks-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-seahawks-secondary;
        }
    }
    // NFL POST CARD COLORS END

    // NHL POST CARD COLORS START
    &.nhl-bruins {
        background: $nhl-bruins-main;
        border: 2px solid $nhl-bruins-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-bruins-secondary;
        }
    }
    &.nhl-canadiens {
        background: $nhl-canadiens-main;
        border: 2px solid $nhl-canadiens-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-canadiens-secondary;
        }
    }
    &.nhl-lightning {
        background: $nhl-lightning-main;
        border: 2px solid $nhl-lightning-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-lightning-secondary;
        }
    }
    &.nhl-mapleleafs {
        background: $nhl-mapleleafs-main;
        border: 2px solid $nhl-mapleleafs-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-mapleleafs-secondary;
        }
    }
    &.nhl-panthers {
        background: $nhl-panthers-main;
        border: 2px solid $nhl-panthers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nfl-panthers-secondary
        }
    }
    &.nhl-redwings {
        background: $nhl-redwings-main;
        border: 2px solid $nhl-redwings-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-redwings-secondary;
        }
    }
    &.nhl-sabres {
        background: $nhl-sabres-main;
        border: 2px solid $nhl-sabres-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-sabres-secondary;
        }
    }
    &.nhl-senators {
        background: $nhl-senators-main;
        border: 2px solid $nhl-senators-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-senators-secondary;
        }
    }
    &.nhl-bluejackets {
        background: $nhl-bluejackets-main;
        border: 2px solid $nhl-bluejackets-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-bluejackets-secondary;
        }
    }
    &.nhl-capitals {
        background: $nhl-capitals-main;
        border: 2px solid $nhl-capitals-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-capitals-secondary;
        }
    }
    &.nhl-devils {
        background: $nhl-devils-main;
        border: 2px solid $nhl-devils-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-devils-secondary;
        }
    }
    &.nhl-flyers {
        background: $nhl-flyers-main;
        border: 2px solid $nhl-flyers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-flyers-secondary;
        }
    }
    &.nhl-hurricanes {
        background: $nhl-hurricanes-main;
        border: 2px solid $nhl-hurricanes-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-hurricanes-secondary;
        }
    }
    &.nhl-islanders {
        background: $nhl-islanders-main;
        border: 2px solid $nhl-islanders-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-islanders-secondary;
        }
    }
    &.nhl-penguins {
        background: $nhl-penguins-main;
        border: 2px solid $nhl-penguins-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-penguins-secondary;
        }
    }
    &.nhl-rangers {
        background: $nhl-rangers-main;
        border: 2px solid $nhl-rangers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-rangers-secondary;
        }
    }
    &.nhl-avalanche {
        background: $nhl-avalanche-main;
        border: 2px solid $nhl-avalanche-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-avalanche-secondary;
        }
    }
    &.nhl-blackhawks {
        background: $nhl-blackhawks-main;
        border: 2px solid $nhl-blackhawks-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-blackhawks-secondary;
        }
    }
    &.nhl-blues {
        background: $nhl-blues-main;
        border: 2px solid $nhl-blues-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-blues-secondary;
        }
    }
    &.nhl-coyotes {
        background: $nhl-coyotes-main;
        border: 2px solid $nhl-coyotes-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-coyotes-secondary;
        }
    }
    &.nhl-jets {
        background: $nhl-jets-main;
        border: 2px solid $nhl-jets-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-jets-secondary;
        }
    }
    &.nhl-predators {
        background: $nhl-predators-main;
        border: 2px solid $nhl-predators-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-predators-secondary;
        }
    }
    &.nhl-stars {
        background: $nhl-stars-main;
        border: 2px solid $nhl-stars-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-stars-secondary;
        }
    }
    &.nhl-wild {
        background: $nhl-wild-main;
        border: 2px solid $nhl-wild-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-wild-secondary;
        }
    }
    &.nhl-canucks {
        background: $nhl-canucks-main;
        border: 2px solid $nhl-canucks-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-canucks-secondary;
        }
    }
    &.nhl-ducks {
        background: $nhl-ducks-main;
        border: 2px solid $nhl-ducks-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-ducks-secondary;
        }
    }
    &.nhl-flames {
        background: $nhl-flames-main;
        border: 2px solid $nhl-flames-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-flames-secondary;
        }
    }
    &.nhl-goldenknights {
        background: $nhl-goldenknights-main;
        border: 2px solid $nhl-goldenknights-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-goldenknights-secondary;
        }
    }
    &.nhl-kings {
        background: $nhl-kings-main;
        border: 2px solid $nhl-kings-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-kings-secondary;
        }
    }
    &.nhl-kraken {
        background: $nhl-kraken-main;
        border: 2px solid $nhl-kraken-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-kraken-secondary;
        }
    }
    &.nhl-oilers {
        background: $nhl-oilers-main;
        border: 2px solid $nhl-oilers-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-oilers-secondary;
        }
    }
    &.nhl-sharks {
        background: $nhl-sharks-main;
        border: 2px solid $nhl-sharks-secondary;
        &:hover {
            box-shadow: 0px 0px 15px $nhl-sharks-secondary;
        }
    }
    // NHL POST CARD COLORS END
   
    
    .postCard__user {
        display: flex;
        align-items: center;
        .postCard__userInitial {
            p {
                font-family: $header-font;
                font-size: 3rem;
                padding: 0.5rem 2rem;
                border-radius: 50%;
                margin-right: 1rem;
                box-shadow: 5px 5px 15px $bg-color inset, -2px -2px 10px rgb(99, 99, 99) inset, 0px 0px 10px $bg-color;
                text-shadow: 5px 5px 15px $bg-color;
            } 
        }

        .postCard__userInfo {
            line-height: 1;
            h6 {
                font-family: $main-font;
                font-size: 1.5rem;
            }
            span {
                font-family: $main-font;
                font-size: 1.2rem;
                opacity: 0.9;
                letter-spacing: 0.1rem;
            }
            .team {
                color: $font-color;
                opacity: 0.6;
            }
        }
       
        // MLB START
        // AL East
        &.mlb-bluejays {
            color: $mlb-blue-jays-secondary;
            p {
                border: 4px solid $mlb-blue-jays-secondary;
            }
        }
        &.mlb-orioles {
            color: $mlb-orioles-secondary;
            p {
                border: 4px solid $mlb-orioles-secondary;
            }
        }
        &.mlb-redsox {
            color: $mlb-red-sox-secondary;
            p {
                border: 4px solid $mlb-red-sox-secondary;
            }
        }
        &.mlb-rays {
            color: $mlb-rays-secondary;
            p {
                border: 4px solid $mlb-rays-secondary;
            }
        }
        &.mlb-yankees {
            color: $mlb-yankees-secondary;
            p {
                border: 4px solid $mlb-yankees-secondary;
            }
        }
        
        // AL Central
        &.mlb-guardians {
            color: $mlb-guardians-secondary;
            p {
                border: 4px solid $mlb-guardians-secondary;
            }
        }
        &.mlb-royals {
            color: $mlb-royals-secondary;
            p {
                border: 4px solid $mlb-royals-secondary;
            }
        }
        &.mlb-tigers {
            color: $mlb-tigers-secondary;
            p {
                border: 4px solid $mlb-tigers-secondary;
            }
        }
        &.mlb-twins {
            color: $mlb-twins-secondary;
            p {
                border: 4px solid $mlb-twins-secondary;
            }
        }
        &.mlb-whitesox {
            color: $mlb-white-sox-secondary;
            p {
                border: 4px solid $mlb-white-sox-secondary;
            }
        }
        // AL West
        &.mlb-angels {
            color: $mlb-angels-secondary;
            p {
                border: 4px solid $mlb-angels-secondary;
            }
        }
        &.mlb-astros {
            color: $mlb-astros-secondary;
            p {
                border: 4px solid $mlb-astros-secondary;
            }
        }
        &.mlb-athletics {
            color: $mlb-athletics-secondary;
            p {
                border: 4px solid $mlb-athletics-secondary;
            }
        }
        &.mlb-mariners {
            color: $mlb-mariners-secondary;
            p {
                border: 4px solid $mlb-mariners-secondary;
            }
        }
        &.mlb-rangers {
            color: $mlb-rangers-secondary;
            p {
                border: 4px solid $mlb-rangers-secondary;
            }
        }
        // NL East
        &.mlb-braves {
            color: $mlb-braves-secondary;
            p {
                border: 4px solid $mlb-braves-secondary;
            }
        }
        &.mlb-marlins {
            color: $mlb-marlins-secondary;
            p {
                border: 4px solid $mlb-marlins-secondary;
            }
        }
        &.mlb-mets {
            color: $mlb-mets-secondary;
            p {
                border: 4px solid $mlb-mets-secondary;
            }
        }
        &.mlb-nationals {
            color: $mlb-nationals-secondary;
            p {
                border: 4px solid $mlb-nationals-secondary;
            }
        }
        &.mlb-phillies {
            color: $mlb-phillies-secondary;
            p {
                border: 4px solid $mlb-phillies-secondary;
            }
        }
        // NL Central
        &.mlb-brewers {
            color: $mlb-brewers-secondary;
            p {
                border: 4px solid $mlb-brewers-secondary;
            }
        }
        &.mlb-cardinals {
            color: $mlb-cardinals-secondary;
            p {
                border: 4px solid $mlb-cardinals-secondary;
            }
        }
        &.mlb-cubs {
            color: $mlb-cubs-secondary;
            p {
                border: 4px solid $mlb-cubs-secondary;
            }
        }
        &.mlb-pirates {
            color: $mlb-pirates-secondary;
            p {
                border: 4px solid $mlb-pirates-secondary;
            }
        }
        &.mlb-reds {
            color: $mlb-reds-secondary;
            p {
                border: 4px solid $mlb-reds-secondary;
            }
        }

        // NL West
        &.mlb-diamondbacks {
            color: $mlb-diamondbacks-secondary;
            p {
                border: 4px solid $mlb-diamondbacks-secondary;
            }
        }
        &.mlb-dodgers {
            color: $mlb-dodgers-secondary;
            p {
                border: 4px solid $mlb-dodgers-secondary;
            }
        }
        &.mlb-giants {
            color: $mlb-giants-secondary;
            p {
                border: 4px solid $mlb-giants-secondary;
            }
        }
        &.mlb-padres {
            color: $mlb-padres-secondary;
            p {
                border: 4px solid $mlb-padres-secondary;
            }
        }
        &.mlb-rockies {
            color: $mlb-rockies-secondary;
            p {
                border: 4px solid $mlb-rockies-secondary;
            }
        }
        // MLB END
        // NBA START
        // East Atlantic
        &.nba-celtics {
            color: $nba-celtics-secondary;
            p {
                border: 4px solid $nba-celtics-secondary;
            }
        }
        &.nba-knicks {
            color: $nba-knicks-secondary;
            p {
                border: 4px solid $nba-knicks-secondary;
            }
        }
        &.nba-nets {
            color: $nba-nets-secondary;
            p {
                border: 4px solid $nba-nets-secondary;
            }
        }
        &.nba-sixers {
            color: $nba-sixers-secondary;
            p {
                border: 4px solid $nba-sixers-secondary;
            }
        }
        &.nba-raptors {
            color: $nba-raptors-secondary;
            p {
                border: 4px solid $nba-raptors-secondary;
            }
        }
        
        // East Central
        &.nba-bucks {
            color: $nba-bucks-secondary;
            p {
                border: 4px solid $nba-bucks-secondary;
            }
        }
        &.nba-bulls {
            color: $nba-bulls-secondary;
            p {
                border: 4px solid $nba-bulls-secondary;
            }
        }
        &.nba-cavaliers {
            color: $nba-cavaliers-secondary;
            p {
                border: 4px solid $nba-cavaliers-secondary;
            }
        }
        &.nba-pacers {
            color: $nba-pacers-secondary;
            p {
                border: 4px solid $nba-pacers-secondary;
            }
        }
        &.nba-pistons {
            color: $nba-pistons-secondary;
            p {
                border: 4px solid $nba-pistons-secondary;
            }
        }
        // East Southeast 
        &.nba-hawks {
            color: $nba-hawks-secondary;
            p {
                border: 4px solid $nba-hawks-secondary;
            }
        }
        &.nba-heat {
            color: $nba-heat-secondary;
            p {
                border: 4px solid $nba-heat-secondary;
            }
        }
        &.nba-hornets {
            color: $nba-hornets-secondary;
            p {
                border: 4px solid $nba-hornets-secondary;
            }
        }
        &.nba-magic {
            color: $nba-magic-secondary;
            p {
                border: 4px solid $nba-magic-secondary;
            }
        }
        &.nba-wizards {
            color: $nba-wizards-secondary;
            p {
                border: 4px solid $nba-wizards-secondary;
            }
        }
        // West Northwest 
        &.nba-jazz {
            color: $nba-jazz-secondary;
            p {
                border: 4px solid $nba-jazz-secondary;
            }
        }
        &.nba-nuggets {
            color: $nba-nuggets-secondary;
            p {
                border: 4px solid $nba-nuggets-secondary;
            }
        }
        &.nba-thunder {
            color: $nba-thunder-secondary;
            p {
                border: 4px solid $nba-thunder-secondary;
            }
        }
        &.nba-timberwolves {
            color: $nba-timberwolves-secondary;
            p {
                border: 4px solid $nba-timberwolves-secondary;
            }
        }
        &.nba-trailblazers {
            color: $nba-trail-blazers-secondary;
            p {
                border: 4px solid $nba-trail-blazers-secondary;
            }
        }
        // West Pacific
        &.nba-clippers {
            color: $nba-clippers-secondary;
            p {
                border: 4px solid $nba-clippers-secondary;
            }
        }
        &.nba-kings {
            color: $nba-kings-secondary;
            p {
                border: 4px solid $nba-kings-secondary;
            }
        }
        &.nba-lakers {
            color: $nba-lakers-secondary;
            p {
                border: 4px solid $nba-lakers-secondary;
            }
        }
        &.nba-suns {
            color: $nba-suns-secondary;
            p {
                border: 4px solid $nba-suns-secondary;
            }
        }
        &.nba-warriors {
            color: $nba-warriors-secondary;
            p {
                border: 4px solid $nba-warriors-secondary;
            }
        }

        // West Southwest
        &.nba-grizzlies {
            color: $nba-grizzlies-secondary;
            p {
                border: 4px solid $nba-grizzlies-secondary;
            }
        }
        &.nba-mavericks {
            color: $nba-mavericks-secondary;
            p {
                border: 4px solid $nba-mavericks-secondary;
            }
        }
        &.nba-pelicans {
            color: $nba-pelicans-secondary;
            p {
                border: 4px solid $nba-pelicans-secondary;
            }
        }
        &.nba-rockets {
            color: $nba-rockets-secondary;
            p {
                border: 4px solid $nba-rockets-secondary;
            }
        }
        &.nba-spurs {
            color: $nba-spurs-secondary;
            p {
                border: 4px solid $nba-spurs-secondary;
            }
        }
        // NBA END
        // NFL START
        &.nfl-bengals {
            color: $nfl-bengals-secondary;
            p {
                border: 4px solid $nfl-bengals-secondary;
            }
        }
        &.nfl-browns {
            color: $nfl-browns-secondary;
            p {
                border: 4px solid $nfl-browns-secondary;
            }
        }
        &.nfl-ravens {
            color: $nfl-ravens-secondary;
            p {
                border: 4px solid $nfl-ravens-secondary;
            }
        }
        &.nfl-steelers {
            color: $nfl-steelers-secondary;
            p {
                border: 4px solid $nfl-steelers-secondary;
            }
        }
        &.nfl-bills {
            color: $nfl-bills-secondary;
            p {
                border: 4px solid $nfl-bills-secondary;
            }
        }
        &.nfl-patriots {
            color: $nfl-patriots-secondary;
            p {
                border: 4px solid $nfl-patriots-secondary;
            }
        }
        &.nfl-dolphins {
            color: $nfl-dolphins-secondary;
            p {
                border: 4px solid $nfl-dolphins-secondary;
            }
        }
        &.nfl-jets {
            color: $nfl-jets-secondary;
            p {
                border: 4px solid $nfl-jets-secondary;
            }
        }
        &.nfl-titans {
            color: $nfl-titans-secondary;
            p {
                border: 4px solid $nfl-titans-secondary;
            }
        }
        &.nfl-colts {
            color: $nfl-colts-secondary;
            p {
                border: 4px solid $nfl-colts-secondary;
            }
        }
        &.nfl-jaguars {
            color: $nfl-jaguars-secondary;
            p {
                border: 4px solid $nfl-jaguars-secondary;
            }
        }
        &.nfl-texans {
            color: $nfl-texans-secondary;
            p {
                border: 4px solid $nfl-texans-secondary;
            }
        }
        &.nfl-chiefs {
            color: $nfl-chiefs-secondary;
            p {
                border: 4px solid $nfl-chiefs-secondary;
            }
        }
        &.nfl-chargers {
            color: $nfl-chargers-secondary;
            p {
                border: 4px solid $nfl-chargers-secondary;
            }
        }
        &.nfl-broncos {
            color: $nfl-broncos-secondary;
            p {
                border: 4px solid $nfl-broncos-secondary;
            }
        }
        &.nfl-raiders {
            color: $nfl-raiders-secondary;
            p {
                border: 4px solid $nfl-raiders-secondary;
            }
        }
        &.nfl-cowboys {
            color: $nfl-cowboys-secondary;
            p {
                border: 4px solid $nfl-cowboys-secondary;
            }
        }
        &.nfl-eagles {
            color: $nfl-eagles-secondary;
            p {
                border: 4px solid $nfl-eagles-secondary;
            }
        }
        &.nfl-footballteam {
            color: $nfl-footballteam-secondary;
            p {
                border: 4px solid $nfl-footballteam-secondary;
            }
        }
        &.nfl-giants {
            color: $nfl-giants-secondary;
            p {
                border: 4px solid $nfl-giants-secondary;
            }
        }
        &.nfl-packers {
            color: $nfl-packers-secondary;
            p {
                border: 4px solid $nfl-packers-secondary;
            }
        }
        &.nfl-bears {
            color: $nfl-bears-secondary;
            p {
                border: 4px solid $nfl-bears-secondary;
            }
        }
        &.nfl-lions {
            color: $nfl-lions-secondary;
            p {
                border: 4px solid $nfl-lions-secondary;
            }
        }
        &.nfl-vikings {
            color: $nfl-vikings-secondary;
            p {
                border: 4px solid $nfl-vikings-secondary;
            }
        }
        &.nfl-buccaneers {
            color: $nfl-buccaneers-secondary;
            p {
                border: 4px solid $nfl-buccaneers-secondary;
            }
        }
        &.nfl-saints {
            color: $nfl-saints-secondary;
            p {
                border: 4px solid $nfl-saints-secondary;
            }
        }
        &.nfl-panthers {
            color: $nfl-panthers-secondary;
            p {
                border: 4px solid $nfl-panthers-secondary;
            }
        }
        &.nfl-falcons {
            color: $nfl-falcons-secondary;
            p {
                border: 4px solid $nfl-falcons-secondary;
            }
        }
        &.nfl-cardinals {
            color: $nfl-cardinals-secondary;
            p {
                border: 4px solid $nfl-cardinals-secondary;
            }
        }
        &.nfl-rams {
            color: $nfl-rams-secondary;
            p {
                border: 4px solid $nfl-rams-secondary;
            }
        }
        &.nfl-niners {
            color: $nfl-niners-secondary;
            p {
                border: 4px solid $nfl-niners-secondary;
            }
        }
        &.nfl-seahawks {
            color: $nfl-seahawks-secondary;
            p {
                border: 4px solid $nfl-seahawks-secondary;
            }
        }
    
        
        // NFL END

        // NHL START
        &.nhl-bruins {
            color: $nhl-bruins-secondary;
            p {
                border: 4px solid $nhl-bruins-secondary;
            }
        }
        &.nhl-canadiens {
            color: $nhl-canadiens-secondary;
            p {
                border: 4px solid $nhl-canadiens-secondary;
            }
        }
        &.nhl-lightning {
            color: $nhl-lightning-secondary;
            p {
                border: 4px solid $nhl-lightning-secondary;
            }
        }
        &.nhl-mapleleafs {
            color: $nhl-mapleleafs-secondary;
            p {
                border: 4px solid $nhl-mapleleafs-secondary;
            }
        }
        &.nhl-panthers {
            color: $nhl-panthers-secondary;
            p {
                border: 4px solid $nhl-panthers-secondary;
            }
        }
        &.nhl-redwings {
            color: $nhl-redwings-secondary;
            p {
                border: 4px solid $nhl-redwings-secondary;
            }
        }
        &.nhl-sabres {
            color: $nhl-sabres-secondary;
            p {
                border: 4px solid $nhl-sabres-secondary;
            }
        }
        &.nhl-senators {
            color: $nhl-senators-secondary;
            p {
                border: 4px solid $nhl-senators-secondary;
            }
        }
        &.nhl-bluejackets {
            color: $nhl-bluejackets-secondary;
            p {
                border: 4px solid $nhl-bluejackets-secondary;
            }
        }
        &.nhl-capitals {
            color: $nhl-capitals-secondary;
            p {
                border: 4px solid $nhl-capitals-secondary;
            }
        }
        &.nhl-devils {
            color: $nhl-devils-secondary;
            p {
                border: 4px solid $nhl-devils-secondary;
            }
        }
        &.nhl-flyers {
            color: $nhl-flyers-secondary;
            p {
                border: 4px solid $nhl-flyers-secondary;
            }
        }
        &.nhl-hurricanes {
            color: $nhl-hurricanes-secondary;
            p {
                border: 4px solid $nhl-hurricanes-secondary;
            }
        }
        &.nhl-islanders {
            color: $nhl-islanders-secondary;
            p {
                border: 4px solid $nhl-islanders-secondary;
            }
        }
        &.nhl-penguins {
            color: $nhl-penguins-secondary;
            p {
                border: 4px solid $nhl-penguins-secondary;
            }
        }
        &.nhl-rangers {
            color: $nhl-rangers-secondary;
            p {
                border: 4px solid $nhl-rangers-secondary;
            }
        }
        &.nhl-avalanche {
            color: $nhl-avalanche-secondary;
            p {
                border: 4px solid $nhl-avalanche-secondary;
            }
        }
        &.nhl-blackhawks {
            color: $nhl-blackhawks-secondary;
            p {
                border: 4px solid $nhl-blackhawks-secondary;
            }
        }
        &.nhl-blues {
            color: $nhl-blues-secondary;
            p {
                border: 4px solid $nhl-blues-secondary;
            }
        }
        &.nhl-coyotes {
            color: $nhl-coyotes-secondary;
            p {
                border: 4px solid $nhl-coyotes-secondary;
            }
        }
        &.nhl-jets {
            color: $nhl-jets-secondary;
            p {
                border: 4px solid $nhl-jets-secondary;
            }
        }
        &.nhl-predators {
            color: $nhl-predators-secondary;
            p {
                border: 4px solid $nhl-predators-secondary;
            }
        }
        &.nhl-stars {
            color: $nhl-stars-secondary;
            p {
                border: 4px solid $nhl-stars-secondary;
            }
        }
        &.nhl-wild {
            color: $nhl-wild-secondary;
            p {
                border: 4px solid $nhl-wild-secondary;
            }
        }
        &.nhl-canucks {
            color: $nhl-canucks-secondary;
            p {
                border: 4px solid $nhl-canucks-secondary;
            }
        }
        &.nhl-ducks {
            color: $nhl-ducks-secondary;
            p {
                border: 4px solid $nhl-ducks-secondary;
            }
        }
        &.nhl-flames {
            color: $nhl-flames-secondary;
            p {
                border: 4px solid $nhl-flames-secondary;
            }
        }
        &.nhl-goldenknights {
            color: $nhl-goldenknights-secondary;
            p {
                border: 4px solid $nhl-goldenknights-secondary;
            }
        }
        &.nhl-kings {
            color: $nhl-kings-secondary;
            p {
                border: 4px solid $nhl-kings-secondary;
            }
        }
        &.nhl-kraken {
            color: $nhl-kraken-secondary;
            p {
                border: 4px solid $nhl-kraken-secondary;
            }
        }
        &.nhl-oilers {
            color: $nhl-oilers-secondary;
            p {
                border: 4px solid $nhl-oilers-secondary;
            }
        }
        &.nhl-sharks {
            color: $nhl-sharks-secondary;
            p {
                border: 4px solid $nhl-sharks-secondary;
            }
        }
    
        
        // NHL END
        
      
    }
    .postCard__title {
        h5 {
            color: $font-color;
            text-decoration: underline;
            font-family: $header-font;
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
            margin-bottom: 0.25rem;
            margin-top: 0.5rem;
        }
    }
    .postCard__text {
        p {
            color: $font-color;
            font-family: $main-font;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;

        }
        span {
            font-family: $header-font;
            color: $font-color;
            opacity: 0.7;
            font-size: 1rem;
            letter-spacing: 0.05rem;
        }
    }
}