@import "../../utilities/variables.scss";

.mlbPosts {
    background: $bg-color;
    min-height: 100vh;
    padding: 2rem 0;
    .mlbPosts__header {
        padding: 1rem 4rem;
        .mlbPosts__sortBy {
            display: flex;
            color: $font-color;
            align-items: center;
            .sortBy__header {
                // margin-right: 1rem;
                h6 {
                    font-family: $main-font;
                    font-size: 1.8rem;
                    letter-spacing: 0.1rem;
                }
            }
            .sortBy__options {
                display: flex;
                align-items: center;
                span {
                    font-family: $header-font;
                    font-size: 1.5rem;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &.newest {
                        color: $light-orange;
                        transform: scale(1.05);
                    }
                    &.oldest {
                        color: $light-orange;
                        transform: scale(1.05);
                    }
                }
                div {
                    border: 2px solid $blue;
                    border-radius: 1rem;
                    padding: 1rem 0;
                }
            }
        }
        .mlbPosts__filterBy {
            display: flex;
            color: $font-color;
            align-items: center;
            .filterBy__header {
                margin-right: 1rem;
                h6 {
                    font-family: $main-font;
                    font-size: 1.8rem;
                    letter-spacing: 0.1rem;
                }
            }
           .filterBy__options {
            display: flex;
            align-items: center;
            font-family: $header-font;
            font-size: 1.5rem;
            .filterBy__optionsDivider {
                border: 2px solid $blue;
                margin: 0 0.7rem;
                border-radius: 1rem;
                opacity: 0.8;
            }
            .filterBy__optionsDot {
               background: $blue;
                border-radius: 50%;
                padding: 0.3rem;
                align-self: center;
                margin: 0 0.7rem;
                opacity: 0.6;

            }
            .filterBy__mlb {
                span {
                    cursor: pointer;
                  &.mlb {
                    color: $dark-orange;
                }  
                }
                

            }
            .filterBy__mlbConference {
                display: flex;
                span {
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &.al {
                        color: $al-red;
                    }
                    &.nl {
                        color: $nl-blue
                    }
                }
            }
            .filterBy__mlbDivision {
                display: flex;
                span {
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &.east {
                        color: $mlb-east;
                    }
                    &.central {
                        color: $mlb-central;
                    }
                    &.west {
                        color: $mlb-west;
                    }
                }
            }
            .filterBy__mlbTeam {
                display: flex;
                transition: all 0.5s ease-in-out;
                span {
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    // AL East
                    &.mlb-bluejays {
                        color: $mlb-blue-jays-main;
                        -webkit-text-stroke: 1px $mlb-blue-jays-secondary;
                        text-shadow: 1px 1px 0px $mlb-blue-jays-secondary;
                    }
                    &.mlb-orioles {
                        color: $mlb-orioles-main;
                        -webkit-text-stroke: 1px $mlb-orioles-secondary;
                        text-shadow: 1px 1px 0px $mlb-orioles-secondary;
                    }
                    &.mlb-rays {
                        color: $mlb-rays-main;
                        -webkit-text-stroke: 1px $mlb-rays-secondary;
                        text-shadow: 1px 1px 0px $mlb-rays-secondary;
                    }
                    &.mlb-redsox {
                        color: $mlb-red-sox-main;
                        -webkit-text-stroke: 1px $mlb-red-sox-secondary;
                        text-shadow: 1px 1px 0px $mlb-red-sox-secondary;
                    }
                    &.mlb-yankees {
                        color: $mlb-yankees-main;
                        -webkit-text-stroke: 1px $mlb-yankees-secondary;
                        text-shadow: 1px 1px 0px $mlb-yankees-secondary;
                    }
                    // AL Central
                    &.mlb-guardians {
                        color: $mlb-guardians-main;
                        -webkit-text-stroke: 1px $mlb-guardians-secondary;
                        text-shadow: 1px 1px 0px $mlb-guardians-secondary;
                    }
                    &.mlb-royals {
                        color: $mlb-royals-main;
                        -webkit-text-stroke: 1px $mlb-royals-secondary;
                        text-shadow: 1px 1px 0px $mlb-royals-secondary;
                    }
                    &.mlb-tigers {
                        color: $mlb-tigers-main;
                        -webkit-text-stroke: 1px $mlb-tigers-secondary;
                        text-shadow: 1px 1px 0px $mlb-tigers-secondary;
                    }
                    &.mlb-twins {
                        color: $mlb-twins-main;
                        -webkit-text-stroke: 1px $mlb-twins-secondary;
                        text-shadow: 1px 1px 0px $mlb-twins-secondary;
                    }
                    &.mlb-whitesox {
                        color: $mlb-white-sox-main;
                        -webkit-text-stroke: 1px $mlb-white-sox-secondary;
                        text-shadow: 1px 1px 0px $mlb-white-sox-secondary;
                    }
                    // AL West
                    &.mlb-angels {
                        color: $mlb-angels-main;
                        -webkit-text-stroke: 1px $mlb-angels-secondary;
                        text-shadow: 1px 1px 0px $mlb-angels-secondary;
                    }
                    &.mlb-astros {
                        color: $mlb-astros-main;
                        -webkit-text-stroke: 1px $mlb-astros-secondary;
                        text-shadow: 1px 1px 0px $mlb-astros-secondary;
                    }
                    &.mlb-athletics {
                        color: $mlb-athletics-main;
                        -webkit-text-stroke: 1px $mlb-athletics-secondary;
                        text-shadow: 1px 1px 0px $mlb-athletics-secondary;
                    }
                    &.mlb-mariners {
                        color: $mlb-mariners-main;
                        -webkit-text-stroke: 1px $mlb-mariners-secondary;
                        text-shadow: 1px 1px 0px $mlb-mariners-secondary;
                    }
                    &.mlb-rangers {
                        color: $mlb-rangers-main;
                        -webkit-text-stroke: 1px $mlb-rangers-secondary;
                        text-shadow: 1px 1px 0px $mlb-rangers-secondary;
                    }
                    // NL East
                    &.mlb-braves {
                        color: $mlb-braves-main;
                        -webkit-text-stroke: 1px $mlb-braves-secondary;
                        text-shadow: 1px 1px 0px $mlb-braves-secondary;
                    }
                    &.mlb-marlins {
                        color: $mlb-marlins-main;
                        -webkit-text-stroke: 1px $mlb-marlins-secondary;
                        text-shadow: 1px 1px 0px $mlb-marlins-secondary;
                    }
                    &.mlb-mets {
                        color: $mlb-mets-main;
                        -webkit-text-stroke: 1px $mlb-mets-secondary;
                        text-shadow: 1px 1px 0px $mlb-mets-secondary;
                    }
                    &.mlb-nationals {
                        color: $mlb-nationals-main;
                        -webkit-text-stroke: 1px $mlb-nationals-secondary;
                        text-shadow: 1px 1px 0px $mlb-nationals-secondary;
                    }
                    &.mlb-phillies {
                        color: $mlb-phillies-main;
                        -webkit-text-stroke: 1px $mlb-phillies-secondary;
                        text-shadow: 1px 1px 0px $mlb-phillies-secondary;
                    }
                    // NL Central
                    &.mlb-brewers {
                        color: $mlb-brewers-main;
                        -webkit-text-stroke: 1px $mlb-brewers-secondary;
                        text-shadow: 1px 1px 0px $mlb-brewers-secondary;
                    }
                    &.mlb-cardinals {
                        color: $mlb-cardinals-main;
                        -webkit-text-stroke: 1px $mlb-cardinals-secondary;
                        text-shadow: 1px 1px 0px $mlb-cardinals-secondary;
                    }
                    &.mlb-cubs {
                        color: $mlb-cubs-main;
                        -webkit-text-stroke: 1px $mlb-cubs-secondary;
                        text-shadow: 1px 1px 0px $mlb-cubs-secondary;
                    }
                    &.mlb-pirates {
                        color: $mlb-pirates-main;
                        -webkit-text-stroke: 1px $mlb-pirates-secondary;
                        text-shadow: 1px 1px 0px $mlb-pirates-secondary;
                    }
                    &.mlb-reds {
                        color: $mlb-reds-main;
                        -webkit-text-stroke: 1px $mlb-reds-secondary;
                        text-shadow: 1px 1px 0px $mlb-reds-secondary;
                    }
                    // NL West
                    &.mlb-diamondbacks {
                        color: $mlb-diamondbacks-main;
                        -webkit-text-stroke: 1px $mlb-diamondbacks-secondary;
                        text-shadow: 1px 1px 0px $mlb-diamondbacks-secondary;
                    }
                    &.mlb-dodgers {
                        color: $mlb-dodgers-main;
                        -webkit-text-stroke: 1px $mlb-dodgers-secondary;
                        text-shadow: 1px 1px 0px $mlb-dodgers-secondary;
                    }
                    &.mlb-giants {
                        color: $mlb-giants-main;
                        -webkit-text-stroke: 1px $mlb-giants-secondary;
                        text-shadow: 1px 1px 0px $mlb-giants-secondary;
                    }
                    &.mlb-padres {
                        color: $mlb-padres-main;
                        -webkit-text-stroke: 1px $mlb-padres-secondary;
                        text-shadow: 1px 1px 0px $mlb-padres-secondary;
                    }
                    &.mlb-rockies {
                        color: $mlb-rockies-main;
                        -webkit-text-stroke: 1px $mlb-rockies-secondary;
                        text-shadow: 1px 1px 0px $mlb-rockies-secondary;
                    }
                }
            }
           }
        }
    }
    .mlbPosts__main {
        display: flex;
        padding: 0 10rem;
        .mlbPosts__pageLinks {
            display: flex;
            flex-direction: column;
            padding-top: 7rem;
            .link {
                color: $font-color;
                opacity: 0.5;
                font-size: 3rem;
                margin-bottom: 3rem;
                transition: all 0.3s ease-in-out;
                &.active {
                    opacity: 0.6;
                    transform: scale(1.05);
                    text-shadow: 0 0 15px $bg-color, 0 0 20px $font-color
                }
                &:hover {
                    opacity: 0.6;
                    transform: scale(1.05);
                    text-shadow: 0 0 15px $bg-color, 0 0 10px $font-color;
                }
            }
        }
        .mlbPosts__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 5rem;
            &.newest {
                flex-direction: column-reverse;
            }
            &.oldest {
                flex-direction: column;
            }
        }
    }
}